body {
    font-family: Roboto;
    font-size: 14px;
    
}

ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

:root {
    --bg-color: blue;
    --text-color:  #757575;
    --bg-color: #2F303A;
    --tex-color:#2196F3;
    --adress-color:#fff;
    --phone-color: rgba(255, 255, 255, 0.60);
    --bge-color: #F5F4FA;
}



.text-one {
    color: var(--tex-color);
    font-size: 16px;
}

.presentation-description {
    color: var(--text-color);
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.header-link12 {
    color: var(--tex-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.foot {
    background-color: var(--bg-color);
}

.adres {
    color: var(--adress-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.information {
    background-color: var(--bg-color);
    font-size: 44px;
}

.information-title {
    color: var(--adress-color);
}

.employees-description {
    color: var(--text-color);
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--adress-color);
    font-size: 16px;
}

.mailto {
    color: var(--phone-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.tel {
    color: var(--phone-color);
}

.navigation-text {
    background-color: var(--bge-color);
    font-size: 16px;
}

.info-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: black;
}

.info-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.labor-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.employees-text {
    color: #212121;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.employees-title {
    text-align: center;
    font-size: 36px;
}

.presentation-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.naviganion-button {
    border-radius: 4px;
    background: #F5F4FA;
    border: none;
}

.naviganion-button:hover {
    background-color: #2196F3;
}

.navigation-list {
   display: flex;
   gap: 8px
}

#web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#studio {
    color: #212121;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#studiow {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#header-tel {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}