body {
    font-family: Roboto;
    font-size: 14px;
    
}

ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

:root {
    --bg-color: blue;
    --text-color:  #757575;
    --bg-color: #2F303A;
    --tex-color:#2196F3;
    --adress-color:#fff;
    --phone-color: rgba(255, 255, 255, 0.60);
    --bge-color: #F5F4FA;
}



.text-one {
    color: var(--tex-color);
    font-size: 16px;
}

.presentation-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%; 
    letter-spacing: 0.48px;
}

.header-list {
    padding-bottom: 32px;
    padding-top: 32px;
}

.header-link {
    color: var(--bg-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.header-link:hover {
     color: #2196F3;
}

.foot {
    background-color: var(--bg-color);
    padding-top: 60px;
}

.adres {
    color: var(--adress-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    font-style: normal;
}

.information {
    background-color: var(--bg-color);
    font-size: 44px;
    padding-top: 200px;
    padding-bottom: 280px;
}

.information-box {
    padding-top: 30px;
}
.information-title {
    color: var(--adress-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.employees {
    padding-top: 94px;
    padding-bottom: 94px;
}

header {
   padding-top: 24px;
}
.info {
    padding-top: 50px;
    padding-bottom: 142px;
}


.employees-description {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 118.75%;
    letter-spacing: 0.48px;
}

.button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height:  187.5%;
    letter-spacing: 0.96px;
    color: var(--adress-color);
    font-size: 16px;
    margin-left: 480px;
}

.mailto {
    color: var(--phone-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.4%;
}

.tel {
    color: var(--phone-color);
}

.navigation-text {
    background-color: var(--bge-color);
    font-size: 16px;
}

.info-text {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.info-description {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height:  171.429%;
    letter-spacing: 0.42px;
}

.labor-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.lador-list {
    padding-bottom: 94px;
}

.employees-text {
    color: #212121;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.employees-title {
    color: #212121;
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.employees-list {
    padding-bottom: 94px;
}

.presentation-text {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height:  200%;
    letter-spacing: 1.08px;
}

.naviganion-button {
    color: #212121;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
}

.naviganion-button:hover {
    background-color: #2196F3;
    color: var(--adress-color);
}

.navigation-list {
   display: flex;
   gap: 8px
}

.navigation {
    padding-top: 100px;
    padding-bottom: 56px;
}

#web {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#studio {
    color: #212121;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#studiow {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#header-tel {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

#header-tel:hover {
    color: #2196F3;
}

.foot-text {
    margin-bottom: 20px;
}
